
<div class="row">
</div>
<div class="row" style="padding-top: 10px">
    <div class=" col-xs-1">
        <label for="ex1">Entrez l'id du pokemon</label>
    </div>

    <div class="col-xs-2" >

        <input class="form-control" id="ex1" type="text" ng-model="pokemonID" ng-change="MiseAjour(pokemonID)">

    </div>
    <div class=" col-xs-1">
        <button type="button" ui-sref="pokemonDetail" ng-click="" class="btn btn-primary"> Chercher !</button>
    </div>

</div>

</div>
<div class="row">
    <script type="text/javascript">
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>